@import '~antd/dist/antd.css';

.logo {
  float: left;
  width: 120px;
  height: 31px;
  margin: 16px 24px 16px 0;
  background: rgba(255, 255, 255, 0.3);
}
.site-layout-content {
  min-height: 480px;
  padding: 8px 32px;
  background: #fff;
}
